
        <!-- Menu de navegacion-->
     <nav class="navigation">
        <ul>
            <li class="list active">
                <a href="index.html">
                    <span class="icon"><i class="fa-solid fa-house"></i></span>
                    <span class="text">Inicio</span>
                </a>
            </li>
            <li class="list">
                <a href="about.html">
                    <span class="icon"><i class="fa-solid fa-user"></i></span>
                    <span class="text">Sobre mí</span>
                </a>
            </li>
            <li class="list">
                <a href="experiencia.html">
                    <span class="icon"><i class="fa-solid fa-sliders"></i></span>
                    <span class="text">Experiencia</span>
                </a>
            </li>
            <li class="list">
                <a href="porfolio.html">
                    <span class="icon"><i class="fa-solid fa-briefcase"></i></span>
                    <span class="text">Portafolio</span>
                </a>
            </li>
            <li class="list">
                <a href="contacto.html">
                    <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                    <span class="text">Contacto</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
     </nav>
