
<div class="contenedor-redes">
   <!-- <a href="https://www.youtube.com/@iamaguila"><i class="fa-brands fa-youtube"></i></a> -->
    <a href="https://github.com/leandroViceconte17"><i class="fa-brands fa-github"></i></a>
   <!-- <a href="https://www.instagram.com/leandroviceconte?igsh=MWxpNmQ4dmg0dGlseg%3D%3D&utm_source=qr"><i class="fa-brands fa-instagram"></i></a> -->
   <!-- <a href="https://www.facebook.com/share/1CPkTKkqFr/?mibextid=wwXIfr"><i class="fa-brands fa-facebook"></i></a> -->
    <a href="https://www.linkedin.com/in/leandro-viceconte"><i class="fa-brands fa-linkedin"></i></a>
</div>